.button {
  display: inline-block;
  width: 8rem;
  height: 3rem;

  padding: 0.3rem;
  /* border: 2px solid gray; */
  border-radius: 1rem;
  background-color: rgb(156, 236, 34);
  cursor: pointer;

  display: flex;
  justify-content: center;
  /* margin: auto 0; */
  align-items: center;
}

.button:hover {
  background-color: greenyellow;
}
.button:active {
  background-color: rgb(134, 206, 24);
}
.button:disabled {
  /* prevents button from showing hover and active css effect (e.g. being highlighted) */
  pointer-events: none;
}

.buttonActivated {
  background-color: pink;
  font-size: large;
}
