.speed {
  grid-area: speed;
}
.seed {
  grid-area: seed;
}
.tip {
  grid-area: tip;
}
.changeColorTheme {
  grid-area: theme;
  /* justify-self: right; */
  /* align-self: flex-end; */
}
/* .changeColorTheme > div {
  width: 100%;
} */
.changeResolution {
  grid-area: res;
  /* justify-self: end; */
}
.startStop {
  grid-area: start;
}
.step {
  grid-area: step;
}
.seedRandomBoard {
  grid-area: ran;
}
.draw {
  grid-area: draw;
}
.clear {
  grid-area: clear;
}
.demo {
  grid-area: demo;
  /* justify-self: center; */
}
/* .empty{
  grid-area: emp;
} */

.demo > div,
.changeResolution > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.warning {
  color: red;
  font-size: 1.2rem;
  text-shadow: 1px 1px yellow;
}

.controlContainer {
  margin: 0 auto 5rem auto;
  display: grid;
  width: 39rem;
  grid-template-columns: repeat(6, 6.5rem);
  grid-template-rows: repeat(3, 3.5rem);
  grid-template-areas:
    "speed speed seed seed theme theme"
    "start step ran draw clear tip"
    "demo demo demo res res res";
  /* grid-gap: .1rem; */
  justify-items: center;
  align-items: center;
}

.flexContainer {
  display: grid;
  grid-template-columns: 1fr;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 30%;

  --tooltiptextWidth: 20rem;
  width: var(--tooltiptextWidth);
  margin-left: calc(var(--tooltiptextWidth) / -2.2);
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;

  /* This option shows the top border as an upside-down triangle as when content is null, each border becomes a triangle. A really nice css trick */
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  font-family: helvetica, monospace;
  font-size: 16px;
  visibility: visible;
  opacity: 1;
  animation-play-state: paused;
  animation-name: fade-in;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  /* animation-delay: 2s; */
}

@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  20% {
    opacity: 0;
    visibility: visible;
  }
  30% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
