.changeCorlorTheme {
  grid-area: theme;
}
.changeResolution {
  grid-area: res;
}
.startStop {
  grid-area: start;
}
.step {
  grid-area: step;
}
.seedRandomBoard {
  grid-area: ran;
}
.draw {
  grid-area: draw;
}
.clear {
  grid-area: clear;
}
/* .stroke {
  grid-area: h;
}
.erase {
  grid-area: i;
} */

.controlContainer {
  margin: 1rem 20%;
  display: grid;
  grid-template-areas:
    "start step ran"
    "clear draw draw"
    "theme res res"
    /* "i i i" */;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
}

.flexContainer {
  display: grid;
  grid-template-columns: 1fr;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 30%;

  width: fit-content;
  margin-left: -60px;
  padding: .7rem;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;

  /* This option shows the top border as an upside-down triangle as when content is null, each border becomes a triangle. A really nice css trick */
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
