header {
  background-color: #414141;
  padding: 1rem;
  height: 5rem;
  position: sticky;
  top: 0;
  display: flex;
  /* justify-content: flex-start; */
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 3.2rem;
  line-height: 90%;
  /* background: yellow; */
  padding: 0;
  font-family: "Rubik Mono One";
}

.gradientText {
  --numColorSteps: 5;
  --marginTop: 26%;
  --color1: rgb(255, calc(255 - ((255 / var(--numColorSteps)) * 0)), 0);
  --color2: rgb(255, calc(255 - ((255 / var(--numColorSteps)) * 1)), 0);
  --color3: rgb(255, calc(255 - ((255 / var(--numColorSteps)) * 2)), 0);
  --color4: rgb(255, calc(255 - ((255 / var(--numColorSteps)) * 3)), 0);
  --color5: rgb(255, calc(255 - ((255 / var(--numColorSteps)) * 4)), 0);
  --color6: rgb(255, calc(255 - ((255 / var(--numColorSteps)) * 5)), 0);

  background-image: linear-gradient(
    var(--color1) 0%,
    var(--color1) var(--marginTop),
    var(--color2) var(--marginTop),
    var(--color2) calc(var(--marginTop) + 10%),
    var(--color3) calc(var(--marginTop) + 10%),
    var(--color3) calc(var(--marginTop) + calc(10% * 2)),
    var(--color4) calc(var(--marginTop) + calc(10% * 2)),
    var(--color4) calc(var(--marginTop) + calc(10% * 3)),
    var(--color5) calc(var(--marginTop) + calc(10% * 3)),
    var(--color5) calc(var(--marginTop) + calc(10% * 4)),
    var(--color6) calc(var(--marginTop) + calc(10% * 4)),
    var(--color6) 100%
  );
  background-color: red;
  /* background-size: 100%; */
  background-repeat: repeat;
  background-clip: text;
  color: transparent;
  /* animation: color-rotation 0.5s linear 3s;
  animation-iteration-count: 10; */
  animation-name: color-rotation, color-rotation, color-rotation, color-rotation,
    color-rotation; 
  /* repeat animation property values to play the same animation multiple times with intervals */
  animation-duration: 0.5s, 0.5s, 0.5s, 0.5s, 0.5s;
  animation-delay: 3s, 60s, 120s, 180s, 240s;
  animation-iteration-count: 10, 10, 10, 10, 10;
}

@keyframes color-rotation {
  16% {
    --color6: yellow;
    --color1: rgb(255, 221, 0);
    --color2: orange;
    --color3: rgb(255, 119, 0);
    --color4: rgb(255, 80, 0);
    --color5: red;
  }
  33% {
    --color5: yellow;
    --color6: rgb(255, 221, 0);
    --color1: orange;
    --color2: rgb(255, 119, 0);
    --color3: rgb(255, 80, 0);
    --color4: red;
  }
  50% {
    --color4: yellow;
    --color5: rgb(255, 221, 0);
    --color6: orange;
    --color1: rgb(255, 119, 0);
    --color2: rgb(255, 80, 0);
    --color3: red;
  }
  67% {
    --color3: yellow;
    --color4: rgb(255, 221, 0);
    --color5: orange;
    --color6: rgb(255, 119, 0);
    --color1: rgb(255, 80, 0);
    --color2: red;
  }
  83% {
    --color2: yellow;
    --color3: rgb(255, 221, 0);
    --color4: orange;
    --color5: rgb(255, 119, 0);
    --color6: rgb(255, 80, 0);
    --color1: red;
  }
  100% {
    --color1: yellow;
    --color2: rgb(255, 221, 0);
    --color3: orange;
    --color4: rgb(255, 119, 0);
    --color5: rgb(255, 80, 0);
    --color6: red;
  }
}
