header {
  background-color:#414141;
  padding: 1rem;
  height: 5rem;
  position: sticky;
  top: 0;
  display: flex;
  /* justify-content: flex-start; */
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 3.2rem;
  line-height: 90%;
  /* background: yellow; */
  padding: 0;
  font-family: "Rubik Mono One";
}

.gradientText {
  /* --numColorBand: 6; */
  background-image: linear-gradient(
    yellow 0%,
    yellow 30%,
    rgb(255, 221, 0) 30%,
    rgb(255, 221, 0) 40%,
    orange 40%,
    orange 50%,
    rgb(255, 119, 0) 50%,
    rgb(255, 119, 0) 60%,
    rgb(255, 80, 0) 60%,
    rgb(255, 80, 0) 70%,
    red 70%,
    red 100%
  );
  background-color: red;
  /* background-size: 100%; */
  background-repeat: repeat;
  background-clip: text;
  color: transparent;
  animation: flash 2s;
}

@keyframes flash {
  /* 0% {
    filter: contrast(100%);
  }
  50% {
    filter: contrast(300%);
  }
  100% {
    filter: contrast(100%);
  } */
}
