#info {
  width: 70vw;
  text-align: left;
  padding-left: 10vw;
  font-family: "Major Mono Display", monospace;
}

#messageBoard {
  color: limegreen;
  margin-bottom: 1rem;

  /* animation-name: breathing;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: 1; */
}

#generation {
  font-size: medium;
  color: white;
}

/* 
@keyframes breathing {
  0% {
    color: transparent;
  }
  100% {
  }
} */
