:root{
  --cellWidth: 1rem;
  --cols:50;
}

.board {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--cellWidth));
  border: 1rem solid black;
}

.cell {
  display: inline-block;
  box-sizing: border-box;
  width: var(--cellWidth);
  height: var(--cellWidth);
  border-bottom: 0.05rem solid gray;
  border-right: 0.05rem solid gray;
}
.cellOff {
  background-color: rgba(0, 0, 0, 0.715)
}

.cellOn {
  background-color: green;
}

.container{
  display: flex;

}

.button{
  display: inline-block;
  height: 2rem;
  padding: 0.5rem;
  border: 2px solid gray;
  border-radius: 1rem;
  background-color: rgb(156, 236, 34);
  cursor: pointer;
}
.button:hover{
  background-color:  greenyellow;
}
.button:active{
  background-color: rgb(134, 206, 24); 
}
