/* These variables are of global scope */
:root {
  --cellWidth: 0.5rem;
  --cols: 40;
}

header {
  background-color: #85929E ;
  padding: 1rem 0;
  position: sticky;
  top:0;
}

h1,
h2 {
  margin: 0;
}
